@white: #ffffff;
@theme1: #FFCC00;
@theme2: #FF9900;
@green1: #5DFF71;
@green2: #35DC04;
@bgColor: #fafafa;
@iconNext: #dedede;
@typeColor1: #FF6E0F;
@typeColor2: #FFDF05;
@typeColor3: #FFA403;
@fontColor1: #333333;
@fontColor2: #666666;
@fontColor3: #999999;
@priceColor: #F40505;
@stateColor: #F0F0F0;
@stateColor1: #00D894;
@stateColor2: #F2ABA9;
@stateColor3: #ECD300;
@borderColor1: #DEDEDE;
@borderColor2: #F0F0F0;
@borderColor3: #CCCCCC;
@lazyBgColor: #F5F5F5;
@favorite: #F40505;
@forward: #30C404;
@transparent: transparent;
@boxShadow1: rgba(0, 0, 0, 0.05);
@boxShadow2: rgba(0, 0, 0, 0.15);

@fontSize1: unit(24, rpx);
@fontSize2: unit(26, rpx);
@fontSize3: unit(28, rpx);
@fontSize4: unit(30, rpx);
@fontSize5: unit(32, rpx);
@fontSize6: unit(36, rpx);
@fontSize7: unit(40, rpx);
@fontSize8: unit(46, rpx);
@fontSize9: unit(50, rpx);
@topBarHeight: 40px;
@borderRadius1: unit(10, rpx);
@borderRadius2: unit(20, rpx);
@borderRadius3: 100%;
