@white: #ffffff;
@bgColor: #fafafa;
@tagColor: #ff7340;
@iconNext: #dedede;
@fontColor1: #333333;
@fontColor2: #666666;
@fontColor3: #999999;
@priceColor: #F40505;
@activeColor: #FF7340;
@borderColor1: #dedede;
@borderColor2: #f0f0f0;
@transparent: transparent;
@boxShadow1: rgba(0, 0, 0, 0.05);
@boxShadow2: rgba(0, 0, 0, 0.15);

@fontSize1: unit(24, rpx);
@fontSize2: unit(26, rpx);
@fontSize3: unit(28, rpx);
@fontSize4: unit(30, rpx);
@fontSize5: unit(32, rpx);
@fontSize6: unit(36, rpx);
@borderRadius: unit(10, rpx);
